.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8d8989;
  color: white;
  padding: 1rem 2rem;
}

.navbar-logo h2 {
  margin: 0;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 2rem;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.3s;
}

.navbar-menu a:hover {
  background-color: #555;
  border-radius: 4px;
}