.job-list-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.job-heading {
  text-align: center;
}

.jobs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.job-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
}

.error {
  color: red;
}